* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: rgb(218, 229, 232);
  background: linear-gradient(rgb(218, 229, 232), #39759f);
  line-height: 1.5;
  padding: 10px;
}

main {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;

}


li, footer{

  font-family: 'Actor', sans-serif;
  font-size: 20px;
  line-height: 35px;

}

.name-header {
  border: none;
  
}



button {
  font-size: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  background:rgba(162, 158, 158, 0.475);;
  background-color: rgba(162, 158, 158, 0.475);
  font-weight: bold;
  border: 1px black solid
}

header {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: 30px;
}



section {
  min-height: 200px;
  padding: 6% 0;
  
}



  



 footer{
  font-family: 'Actor', sans-serif;
  font-size: 10px;
  margin-top: 10px;
  }

  @media screen and (min-width: 460px) {
  

    button {
      text-decoration: none;
      font-size: 20px;
      font-family: 'Indie Flower', cursive;
      font-weight: bold;
      cursor: pointer;

    }
    
  }

  @media screen and (min-width: 720px) {

    body 
    {
      padding: 30px;
    }

  }